body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3390a9, #d91ef1);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(159, 16, 16);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.btn-success {
  color: #e5e9ef;  /* Bootstrap Primary Blue */
  border-color: #dee4ea;
  background-color: #1b5ea5;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #8baacb;
  color: white;
}

.btn-danger {
  color: #e5e9ef;  /* Bootstrap Primary Blue */
  border-color: #dee4ea;
  background-color: #8d0990;
  transition: all 0.3s ease;
}

.btn-danger:hover {
  background-color: #d093ce;
  color: white;
}

.btn-add {
  color: #e5e9ef;  /* Bootstrap Primary Blue */
  border-color: #dee4ea;
  background-color: #1b5ea5;
  transition: all 0.3s ease;
}

.btn-add:hover {
  background-color: #8baacb;
  color: white;
}

.btn-view {
  color: #e5e9ef;  /* Bootstrap Primary Blue */
  border-color: #dee4ea;
  background-color: #8d0990;
  transition: all 0.3s ease;
}

.btn-view:hover {
  background-color: #d093ce;
  color: white;
}